Craftsman 137pc Mechanics Tool Set - 935137

1/4 in Drive

SAE short 6 point

5/32, 3/16, 7/32, 1/4, 9/32, 5/16, 11/32, 3/8, 7/16, 1/2, 9/16

SAE deep 6 point

3/16, 7/32, 1/4, 9/32, 5/16

-------------------------

Metric short 6 point

4, 5, 5.5, 6, 7, 8, 9, 10, 11, 12, 13, 14

Metric deep 6 point

6, 7, 8, 9, 10

--------------------------

3 inch extension bar

--------------------------------------------------------------

3/8 in Drive

SAE short 6 point

1/4, 5/16, 3/8, 7/16, 1/2, 9/16, 5/8, 3/4

SAE short 12 point

5/16, 3/8, 7/16, 1/2, 9/16, 5/8

1-1/4, 1-3/16, 1-1/16, 1-1/8, 1

SAE deep 6 point

3/8, 7/16, 1/2, 9/16, 5/8


---------------------------

Metric short 6 point

6, 7, 8, 9, 10, 11, 12, 13, 14, 15

Metric short 12 point

9, 10, 11, 12, 13, 14, 15, 17

Metric deep 6 point

9, 10, 12, 13, 14

3 inch extension bar

5/8 inch spark plug socket


-----------------------------------------------------------------

1/2 in Drive

SAE short 12 point

9/16, 5/8, 11/16, 3/4

Metric short 12 point

15, 16, 17, 18

-------------------------------------------------------------------------

Toolbox Dimensions 

Jegs

Short17-1/2 X 7

Top 20 X 8 

---------------------

Craftsman 

10-1/2 X 22
